.no-page-found-container {
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.no-page-found-image {
  height: 50%;
  width: 100%;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.back-to-home-button {
  display: flex;
  gap: 5px;
}
